

<html>
    <head>
        <meta charset="UTF-8">
        <title>MS INTERNATIONAL BANK PVT LTD</title>
        <!-- <link rel="stylesheet" href="styling_for_banking.css" type="text/css"> -->
    </head>
    <body id="form-body" >
        <form id="register_form">
            <h1>{{customer.name}}</h1>
            <p>Account-number: {{customer.accountNumber}}</p>
            <p>Name: {{customer.name}}</p>
            <p>debit: {{customer.debit}}</p>
            <p>credit: {{customer.credit}}</p>
            <p>balance: {{customer.totalBalance}}</p>
            <div>
                <button id="btn-submit"><a href="/amount">Send amount</a></button>
            </div> 
           

        </form>
        
    </body>
</html>
