
<router-outlet></router-outlet>
<HTML>
    <head>
        <meta charset="UTS-8">
        <title>MS INTERNATIONAL BANK PVT LTD</title>
        <!-- <link rel="stylesheet" href="styling_for_banking.css" type="text/css"> -->
        
         
    </head>
    <body id="mainbody">
        <header></header>
        <main>
      
            <img id="image" src="assets/ms.jpg" alt="">       
            <h1 id="NAME">MS INTERNATIONAL BANK PVT LTD</h1>
            <h3 id="tagline">A link for the safety of your money</h3>
            <button id="btn"><a [routerLink]="'/customerdetails'" >GET STARTED</a></button>
        </main>
    </body> 
</HTML>