table{
    width: 100%;
    font-size: 20px;
    text-align: center;
}
td{
    text-align: center;
    padding: 5px 30px;
    background-color: rgb(158, 165, 91);
    padding-bottom: 10px;
    margin-top: 5px;
}
#table-main{
    background-color: rgb(231, 225, 143);
    margin-top: 80px;
}
header{
    
    height: 50px;
    padding-top: 20px;
}
aside{
    background-color: white;
    height: 235px;
    width: 70%;
    display: inline-block; 
}
main{
    
    padding: 16px ;
    margin-left: 30px;
    margin-right: 30px;
}
#mainbody{
    background-color: lightskyblue;
    background-image: url("assets/pile1.gif");
}
#NAME{
    padding: 20px;
    padding-bottom: 5px;
    color: blue;
    font-size: 60px;
    display: inline-block;
}
#custom-name{
    text-align: justify;
    font-size: 60px;
    color: blue;
    display: inline-block;
    margin-top: 10px;
}
#cust-image{
    padding-left: 10px;
    width: 60px;
    height: 60px;
    display: inline-block;
}
#customer-body{
    background-image: url("assets/pile1.gif");
}
#tagline{
    scroll-padding-right: 50px;
    color: rgba(3, 22, 31, 0.582);
    font-size: 30px;
    text-align: right;

}
#image{
    width: 60px;
    height: 60px;
    display: inline-block;
}
#btn{
    cursor: pointer;
    background-color: lightblue;
    padding: 20px 60px;
    border:none;
    border-radius: 35px;
    outline: none;
    font-size: 20px; 
}
#btn:hover{
    background-color: blue;
    color: white;
}
.input-label{
    margin: 0;
    margin-bottom: 4px;
    margin-top: 12px;
}
.input-item{
    width: 100%;
    border:0;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#register_form{
        background-color: white;
        width: 100%;
        max-width: 300px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        border: lightgray;
        border-radius: 20px;
}
#form-body{
    background-image: url("assets/pile1.gif");
}

#customer-btn{
    cursor: pointer;
    background-color: yellowgreen;
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
    outline: none;

}
#customer-btn:hover{
    background-color: lightskyblue;
    color: blue;
}
#btn-submit{
    cursor: pointer;
    background-color: lightblue;
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
    outline: none;
    }
    
#btn-submit:hover{
    background-color: lightskyblue;
    color: white;
}
#THANKYOU{
    text-align: center;
    font-size: 80px;
    font-feature-settings: "abvm";
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#btn-HOME-PAGE{
    cursor: pointer;
    background-color: lightblue;
    padding: 20px 60px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 24px;
    
}
#btn-HOME-PAGE:hover{
    background-color: rgb(195, 197, 96);
    color: rgb(57, 123, 223);

}